* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.header--background {
  background: linear-gradient(160deg, rgb(157, 76, 220) -30%, rgba(255, 255, 255, 0) 50%);
}
.header .navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 3;
  top: 5.5vh;
  width: 87vw;
  height: 14vh;
  padding: 10px 30px;
  border-radius: 24px;
}
.header .navigation--color {
  background-color: #FFFFFF;
  box-shadow: 0px 20px 25px 0px rgba(40, 8, 66, 0.15);
}
.header .navigation .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.header .navigation .wrapper__image {
  width: 48.75px;
  height: 47px;
  aspect-ratio: 1/1;
}
.header .navigation .wrapper__span {
  font-family: "K2D", sans-serif;
  font-size: 1.7rem;
  font-weight: 800;
}
.header .navigation .wrapper__span--purple2 {
  color: #9D4CDC;
}
.header .navigation .wrapper__span--orange {
  color: #FF8A00;
}
.header .navigation .links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.header .navigation .links__a {
  color: #330656;
  font-family: "K2D", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
}
.header .navigation .links__a--purple2 {
  color: #9D4CDC;
}
.header .navigation .links__a--orange {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF8A00;
  gap: 8px;
}
.header .navigation .burger-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 11vw;
  height: 8vh;
  padding: 10px 20px;
  display: none;
  gap: 6px;
}
.header .navigation .burger-menu .line1, .header .navigation .burger-menu .line3 {
  width: 38px;
  height: 4px;
  border-radius: 30px;
  background-color: #BC70F8;
}
.header .navigation .burger-menu .line2 {
  width: 30px;
  height: 4px;
  background-color: #BC70F8;
  border-radius: 30px;
}
.header .section1 {
  display: flex;
  align-items: flex-end;
  width: 87vw;
  height: 80vh;
}
.header .section1::before {
  content: "";
  position: absolute;
  top: -95px;
  left: -30px;
  width: 177.874px;
  height: 177.874px;
  transform: rotate(20deg);
  background-color: #FDA53D;
  z-index: 0;
}
.header .section1::after {
  content: "";
  width: 6vw;
  height: 12vh;
  border-radius: 30px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-455%, 110%);
  z-index: 0;
  background-color: #FDA53D;
  filter: blur(17.5px);
}
.header .section1 .text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 65vw;
}
.header .section1 .text::after {
  content: "";
  position: absolute;
  right: 0;
  z-index: 1;
  width: 8vw;
  height: 16vh;
  background-image: url("images/BeeIMG.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-70%, -23%);
}
.header .section1 .text::before {
  content: "";
  position: absolute;
  width: 7vw;
  height: 14vh;
  transform: rotate(20deg) translate(10%, 400%);
  background-color: #BC70F8;
  z-index: 1;
  right: 0;
  border-radius: 30px;
}
.header .section1 .text__heading {
  color: #330656;
  font-family: Londrina Solid;
  font-size: 4.5rem;
  font-weight: 400;
  margin: 0;
}
.header .section1 .text__span--orange {
  color: #FF8A00;
}
.header .section1 .text__span--purple {
  color: #BC70F8;
  font-weight: 700;
}
.header .section1 .text__span--orange2 {
  color: #FF8A00;
  font-weight: 700;
}
.header .section1 .text__p {
  color: #2C1F35;
  font-family: "K2D", sans-serif;
  font-size: 1.4rem;
  margin: 0;
}
.header .section1 .text .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 22px;
  height: 15vh;
}
.header .section1 .text .buttons__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.1rem;
  padding: 10px 45px;
  border-radius: 16px;
  font-weight: 600;
  font-size: 1.1rem;
  font-family: "K2D", sans-serif;
  border: none;
  gap: 10px;
  cursor: pointer;
}
.header .section1 .text .buttons__button--orange {
  background-color: #FF8A00;
  color: #FFFFFF;
  box-shadow: 0px 10px 15px 0px rgba(49, 29, 5, 0.15);
}
.header .section1 .text .buttons__button--white {
  background-color: #FFFFFF;
  color: #330656;
  padding: 12px 17px;
}
.header .section1 .text a {
  text-decoration: none;
}
.header .section1 .wrapper {
  width: 50vw;
  height: 70vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
}
.header .section1 .wrapper__image {
  border-radius: 33px;
  width: 31vw;
  height: 68vh;
  rotate: 15deg;
  object-fit: cover;
  transform: scaleX(-1) translate(-3%, 12%);
}

.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background-color: #FFFFFF;
  height: 100vh;
  flex-wrap: wrap;
  scroll-margin-top: 180px;
}
.section2 .code {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 37vw;
}
.section2 .code--colors {
  background-color: #330656;
  border-radius: 35px;
  border: 10px solid #76558F;
}
.section2 .code .firstLine {
  padding-left: 22px;
  padding-top: 27px;
}
.section2 .code .firstLine--styles {
  color: #FFF;
  font-size: 1.1rem;
  font-weight: 400;
  font-family: "ABeeZee", sans-serif;
}
.section2 .code .firstLine__span--orange {
  color: #FF8A00;
}
.section2 .code .firstLine__span--blue {
  color: #06C3FF;
}
.section2 .code > p {
  margin: 0;
  opacity: 0.75;
}
.section2 .code .secondLine {
  padding-left: 44px;
  padding-top: 8px;
}
.section2 .code .secondLine__span--red {
  color: #F00;
}
.section2 .code .thirdLine {
  padding-left: 44px;
  padding-top: 8px;
}
.section2 .code .fourthLine {
  padding-left: 89px;
  padding-top: 8px;
}
.section2 .code .fifthLine {
  padding-left: 44px;
  padding-top: 8px;
}
.section2 .code .author {
  display: flex;
  align-items: flex-end;
  padding-left: 22px;
  padding-bottom: 27px;
  height: 100%;
}
.section2 .code .author__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.section2 .code .author__name {
  color: #FFF;
  font-family: Londrina Solid;
  font-size: 1.4rem;
  font-weight: 300;
}
.section2 .code::after {
  content: "";
  position: absolute;
  width: 22vw;
  height: 33vh;
  border-radius: 22px;
  border: 10px solid #FFFFFF;
  background-image: url("images/AstronauntKidIMG.webp");
  background-position: center;
  background-size: cover;
  transform: translate(80%, 85%);
  box-shadow: 0px 25px 25px 0px rgba(69, 44, 88, 0.26);
}
.section2 .text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 60vh;
  width: 39vw;
}
.section2 .text__heading {
  color: #330656;
  font-family: Londrina Solid;
  font-weight: 900;
  font-size: 3rem;
  margin: 0;
}
.section2 .text__span--orange {
  color: #FF8A00;
}
.section2 .text__p {
  color: #330656;
  font-family: "K2D", sans-serif;
  font-size: 1.3rem;
  margin: 0;
}

.section3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  flex-direction: column;
  height: 125vh;
  scroll-margin-top: 50px;
}
.section3::before {
  content: "";
  background-image: url("images/BeeIMG.webp");
  background-size: cover;
  position: absolute;
  width: 8vw;
  height: 16vh;
  transform: scaleX(-1) translate(328%, -254%) rotateY(90deg);
}
.section3 .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  height: 16vh;
}
.section3 .text__heading {
  color: #330656;
  font-family: Londrina Solid;
  font-weight: 900;
  font-size: 3rem;
  margin: 0;
}
.section3 .text__p {
  color: #330656;
  font-family: "K2D", sans-serif;
  font-size: 1.3rem;
  margin: 0;
}
.section3 .card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 55vw;
  height: 84vh;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0px 14px 14px 0px rgba(0, 0, 0, 0.25);
}
.section3 .card--bg {
  background-color: #4B2D62;
}
.section3 .card__image {
  width: 100%;
  height: 75%;
  background-image: url("images/LastIMG.webp");
  background-size: cover;
  background-position: center;
}
.section3 .card__image--border {
  border-radius: 8px;
  border: 5px solid #835EA0;
}
.section3 .card .code {
  width: 100%;
  height: 25%;
  opacity: 0.75;
}
.section3 .card .code--colors {
  background-color: #330656;
  color: #FFF;
  border-radius: 12px;
}
.section3 .card .code .lineOne {
  padding-left: 22px;
  padding-top: 27px;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
}
.section3 .card .code .lineOne__span--orange {
  color: #FF8A00;
}
.section3 .card .code .lineOne__span--blue {
  color: #06C3FF;
}
.section3 .card .code .lineSecond {
  margin: 0;
  padding-left: 70px;
  padding-top: 8px;
}
.section3 .card .code .lineSecond__span--red {
  color: #F00;
}
.section3 .card .code .author {
  display: flex;
  justify-content: flex-end;
  height: 9vh;
  padding-right: 16px;
  padding-bottom: 15px;
}
.section3 .card .code .author__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.section3 .card .code .author__name {
  color: #E9E0F0;
  font-family: Londrina Solid;
  font-size: 0.9rem;
  font-weight: 900;
}

.section4 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 85vh;
  scroll-margin-top: 200px;
}
.section4__heading {
  color: #330656;
  font-family: Londrina Solid;
  font-weight: 900;
  font-size: 3.3rem;
  text-align: center;
  width: 50vw;
}
.section4__span--orange {
  color: #FF8A00;
}
.section4 .cards {
  display: grid;
  grid-template-columns: repeat(3, 19vw);
  grid-template-rows: 41vh;
  row-gap: 15px;
  column-gap: 75px;
}
.section4 .cards > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 24px;
  padding: 25px;
  gap: 25px;
  border: 5px solid #76558F;
  background-color: #F6EBFF;
}
.section4 .cards > div .cardPartOne {
  text-align: center;
}
.section4 .cards > div .cardPartOne__heading {
  color: #4B2D62;
  font-family: Londrina Solid;
  font-weight: 900;
  font-size: 2.3rem;
  margin: 0;
}
.section4 .cards > div .cardPartOne__span--grey {
  color: #5F5C62;
  font-family: "K2D", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
}
.section4 .cards > div .cardPartTwo {
  color: #FF8A00;
  font-family: Londrina Solid;
  font-size: 2.1rem;
  font-weight: 900;
}
.section4 .cards > div .cardPartThree {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  height: 25vh;
}
.section4 .cards > div .cardPartThree__span--grey {
  color: #76558F;
  font-family: "K2D", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.section4 .cards > div .cardPartThree__span span {
  font-weight: 600;
}

.section5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40vh;
  gap: 50px;
}
.section5--background {
  background: linear-gradient(0deg, rgba(157, 76, 220, 0.35) 30%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(75px);
}
.section5 .text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}
.section5 .text__heading {
  color: #330656;
  font-family: Londrina Solid;
  font-weight: 900;
  font-size: 3.3rem;
  margin: 0;
}
.section5 .text__heading::after {
  content: "";
  position: absolute;
  width: 99px;
  height: 94px;
  background-image: url("images/BeeIMG.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-1%, -25%);
  filter: drop-shadow(0px 50px 15px rgba(36, 21, 48, 0.22));
}
.section5 .text__p {
  width: 57vw;
  color: #330656;
  font-family: "K2D", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0;
}
.section5 .text__span--orange {
  color: #FF8A00;
  font-weight: 800;
}
.section5__span--orange {
  font-weight: bolder;
}
.section5 .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 35px;
  height: 15vh;
  flex-wrap: wrap;
}
.section5 .wrapper__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.1rem;
  padding: 12px 38px;
  border-radius: 16px;
  font-weight: 600;
  font-size: 1.25rem;
  font-family: "K2D", sans-serif;
  border: none;
  gap: 10px;
  box-shadow: 0px 10px 15px 0px rgba(49, 29, 5, 0.15);
  cursor: pointer;
}
.section5 .wrapper__button--orange {
  background-color: #FF8A00;
  color: #FFFFFF;
}
.section5 .wrapper__button--white {
  background-color: #FFFFFF;
  color: #FF8A00;
}

@media print {
  html {
    display: none;
  }
}
@media screen and (max-width: 427px) {
  .header {
    height: 76vh;
  }
  .header--background {
    background: linear-gradient(180deg, rgba(157, 76, 220, 0.1) 32.32%, rgba(255, 255, 255, 0) 95.38%);
    backdrop-filter: blur(75px);
  }
  .header .navigation {
    height: 70px;
    width: 92vw;
    padding-left: 13px;
    padding-right: 35px;
    border-radius: 16px;
    top: 15px;
  }
  .header .navigation .wrapper__image {
    transform: scale(0.8);
  }
  .header .navigation .wrapper__span {
    font-size: 1.2rem;
  }
  .header .navigation .links {
    display: none;
  }
  .header .navigation .burger-menu {
    display: flex;
  }
  .header .section1 {
    flex-direction: column-reverse;
    align-items: center;
    height: 100vh;
  }
  .header .section1::before {
    width: 120px;
    height: 120px;
    transform: rotate(20deg) translate(18%, 39%);
    border-radius: 30px;
  }
  .header .section1::after {
    filter: blur(12px);
    width: 25vw;
    transform: translate(-68%, -25%);
  }
  .header .section1 .wrapper {
    width: 100vw;
    height: 28vh;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
  }
  .header .section1 .wrapper::after {
    content: "";
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 30px;
    background-color: #BC70F8;
    transform: rotate(20deg) translate(73%, 135%);
    right: 0;
  }
  .header .section1 .wrapper__image {
    width: 73vw;
    height: 23vh;
    rotate: -6deg;
    border-radius: 23px;
    border-bottom-left-radius: 0;
    position: relative;
    left: 22px;
  }
  .header .section1 .text {
    width: 95vw;
    text-align: center;
  }
  .header .section1 .text::before {
    display: none;
  }
  .header .section1 .text::after {
    width: 53px;
    height: 50px;
    top: 0;
    transform: translate(-8%, 210%);
  }
  .header .section1 .text__heading {
    font-size: 1.9rem;
    position: relative;
  }
  .header .section1 .text__p {
    font-size: 0.9rem;
    font-weight: 600;
  }
  .header .section1 .text .buttons {
    height: 16vh;
    justify-content: center;
    gap: 0;
  }
  .header .section1 .text .buttons__button {
    width: 90vw;
    height: 40px;
    border-radius: 8px;
    font-size: 0.9rem;
  }
  .header .section1 .text .buttons__button svg {
    width: 24px;
    height: 24px;
  }
  .section2 {
    height: 66vh;
    gap: 0;
    align-items: flex-end;
  }
  .section2 .code {
    width: 95vw;
    height: 30vh;
    border-radius: 14px;
    border: 6px solid #76558F;
  }
  .section2 .code .author {
    align-items: flex-end;
    padding: 8px 11px;
  }
  .section2 .code .author__wrapper svg {
    width: 28px;
    height: 28px;
  }
  .section2 .code .author__name {
    font-size: 0.9rem;
  }
  .section2 .code .firstLine {
    font-size: 13px;
    padding-left: 17px;
    padding-top: 21px;
  }
  .section2 .code .secondLine {
    padding-top: 7px;
    font-size: 13px;
    padding-left: 43px;
  }
  .section2 .code .thirdLine, .section2 .code .fifthLine {
    padding-left: 43px;
    font-size: 13px;
    padding-top: 1px;
  }
  .section2 .code .fourthLine {
    padding-left: 59px;
    font-size: 13px;
    padding-top: 1px;
  }
  .section2 .code::after {
    width: 37.1vw;
    height: 80px;
    transform: translate(128%, 208%);
    border-radius: 8px;
    border: 5px solid #FFF;
  }
  .section2 .text {
    text-align: center;
    width: 95vw;
    height: 25vh;
  }
  .section2 .text__heading {
    font-size: 1.5rem;
    width: 90vw;
    font-weight: 900;
  }
  .section2 .text__p {
    font-size: 1rem;
    font-weight: 600;
  }
  .section3 {
    height: 70vh;
  }
  .section3 .text {
    text-align: center;
    height: 11vh;
  }
  .section3 .text__heading {
    font-size: 1.5rem;
    font-weight: 900;
  }
  .section3 .text__p {
    font-size: 1rem;
    width: 90vw;
    font-weight: 600;
  }
  .section3 .card {
    width: 90vw;
    height: 50vh;
  }
  .section3 .card .code {
    height: 20vh;
  }
  .section3 .card .code .lineOne, .section3 .card .code .lineSecond {
    font-size: 13px;
    font-family: "ABeeZee", sans-serif;
  }
  .section3 .card .code .lineOne {
    padding-left: 12px;
    padding-top: 14px;
  }
  .section3 .card .code .lineSecond {
    padding-top: 9px;
    padding-left: 38px;
  }
  .section3 .card .code .author {
    height: 14.2vh;
    padding: 14px 11px;
    align-items: flex-end;
  }
  .section3 .card .code .author__wrapper {
    gap: 5px;
  }
  .section3 .card .code .author__wrapper svg {
    width: 24px;
    height: 24px;
  }
  .section3 .card .code .author__name {
    font-size: 0.9rem;
  }
  .section3::before {
    width: 58px;
    height: 56px;
    transform: scaleX(-1) translate(205%, -265%);
  }
  .section4 {
    height: 122vh;
  }
  .section4__heading {
    width: 90vw;
    font-size: 1.5rem;
    font-weight: 900;
  }
  .section4 .cards {
    grid-template-columns: 90vw;
    grid-template-rows: repeat(3, 31vh);
  }
  .section4 .cards > div {
    gap: 15px;
  }
  .section4 .cards > div .cardPartOne__heading {
    font-size: 1.5rem;
  }
  .section4 .cards > div .cardPartTwo {
    font-size: 1.5rem;
  }
  .section4 .cards > div .cardPartThree > span {
    font-size: 1rem;
  }
  .section5 {
    height: 48vh;
    justify-content: flex-start;
  }
  .section5 .text__heading {
    font-size: 1.5rem;
    font-weight: 900;
    width: 90vw;
  }
  .section5 .text__heading::after {
    display: none;
  }
  .section5 .text__p {
    font-size: 1rem;
    width: 90vw;
    font-weight: 800;
    font-family: "K2D";
  }
  .section5 .wrapper {
    gap: 8px;
    height: 105px;
  }
  .section5 .wrapper__button {
    width: 90vw;
    border-radius: 8px;
    font-size: 0.9rem;
    gap: 8px;
    height: 45px;
  }
  .section5 .wrapper__button svg {
    width: 28px;
    height: 28px;
  }
}
@media screen and (min-width: 325px) and (max-width: 329px) {
  .section2 .code::after {
    transform: translate(127%, 208%);
    width: 37.2vw;
  }
}
@media screen and (min-width: 330px) and (max-width: 339px) {
  .section2 .code::after {
    transform: translate(127%, 208%);
    width: 37.3vw;
  }
}
@media screen and (min-width: 340px) and (max-width: 359px) {
  .header .section1 .wrapper__image {
    width: 75vw;
  }
  .section2 .code::after {
    transform: translate(127%, 208%);
    width: 37.5vw;
  }
  .section3::before {
    transform: scaleX(-1) translate(212%, -265%);
  }
}
@media screen and (min-width: 360px) and (max-width: 376px) {
  .header {
    height: 76vh;
  }
  .header .section1 .wrapper__image {
    width: 77vw;
  }
  .header .section1 .text::after {
    transform: translate(-7%, 210%) scale(0.9);
  }
  .section2 .code::after {
    transform: translate(129%, 208%);
    width: 37.5vw;
  }
  .section3::before {
    transform: scaleX(-1) translate(232%, -265%);
  }
}
@media screen and (min-width: 377px) and (max-width: 399px) {
  .header {
    height: 76vh;
  }
  .header .section1 .wrapper__image {
    width: 78vw;
  }
  .header .section1 .text::after {
    transform: translate(-7%, 210%) scale(0.9);
  }
  .section2 .code::after {
    transform: translate(127%, 208%);
    width: 37.8vw;
  }
  .section3::before {
    transform: scaleX(-1) translate(242%, -265%);
  }
}
@media screen and (min-width: 400px) {
  .header {
    height: 76vh;
  }
  .header .section1 .wrapper__image {
    width: 80vw;
    height: 23.5vh;
  }
  .header .section1 .text::after {
    transform: translate(1%, 218%) scale(0.9);
  }
  .section2 .code::after {
    transform: translate(128%, 208%);
    width: 38vw;
  }
  .section3::before {
    transform: scaleX(-1) translate(262%, -265%);
  }
}
@media screen and (min-width: 424px) {
  .header {
    height: 74vh;
  }
}
@media screen and (min-width: 415px) and (max-width: 427px) {
  .section3::before {
    transform: scaleX(-1) translate(276%, -265%);
  }
}
@media screen and (min-width: 428px) and (max-width: 833px) {
  .header {
    height: 83vh;
  }
  .header--background {
    background: linear-gradient(180deg, rgba(157, 76, 220, 0.1) 32.32%, rgba(255, 255, 255, 0) 95.38%);
    backdrop-filter: blur(75px);
  }
  .header .navigation {
    height: 70px;
    width: 92vw;
    padding-left: 13px;
    padding-right: 35px;
    border-radius: 16px;
    top: 15px;
  }
  .header .navigation .wrapper__image {
    transform: scale(0.8);
  }
  .header .navigation .wrapper__span {
    font-size: 1.3rem;
  }
  .header .navigation .links {
    display: none;
  }
  .header .navigation .burger-menu {
    display: flex;
  }
  .header .section1 {
    flex-direction: column-reverse;
    align-items: center;
    height: 100vh;
  }
  .header .section1::before {
    width: 120px;
    height: 120px;
    transform: rotate(20deg) translate(18%, 39%);
    border-radius: 30px;
  }
  .header .section1::after {
    filter: blur(12px);
    width: 25vw;
    transform: translate(-85%, -28%);
  }
  .header .section1 .wrapper {
    width: 100vw;
    height: 30vh;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
  }
  .header .section1 .wrapper::after {
    content: "";
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 30px;
    background-color: #BC70F8;
    transform: rotate(20deg) translate(73%, 135%);
    right: 0;
  }
  .header .section1 .wrapper__image {
    width: 81vw;
    height: 24vh;
    rotate: -6deg;
    border-radius: 23px;
    border-bottom-left-radius: 0;
    position: relative;
    left: 17px;
  }
  .header .section1 .text {
    width: 96vw;
    height: 42vh;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
  }
  .header .section1 .text::before {
    display: none;
  }
  .header .section1 .text::after {
    width: 53px;
    height: 50px;
    top: 0;
    transform: translate(1%, 218%) scale(0.9);
  }
  .header .section1 .text__heading {
    font-size: 2.4rem;
    position: relative;
  }
  .header .section1 .text__p {
    width: 90vw;
    font-size: 1rem;
    font-weight: 600;
  }
  .header .section1 .text .buttons {
    height: 16vh;
    justify-content: center;
    gap: 0;
  }
  .header .section1 .text .buttons__button {
    width: 90vw;
    height: 43px;
    border-radius: 8px;
    font-size: 1rem;
  }
  .header .section1 .text .buttons__button svg {
    width: 24px;
    height: 24px;
  }
  .section2 {
    height: 67vh;
    gap: 0;
    align-items: flex-end;
  }
  .section2 .code {
    width: 82vw;
    height: 25vh;
    border-radius: 14px;
    border: 6px solid #76558F;
  }
  .section2 .code .author {
    align-items: flex-end;
    padding: 6px 6px;
  }
  .section2 .code .author__wrapper svg {
    width: 30px;
    height: 30px;
  }
  .section2 .code .author__name {
    font-size: 1rem;
  }
  .section2 .code .firstLine {
    font-size: 12px;
    padding-left: 16px;
    padding-top: 18px;
  }
  .section2 .code .secondLine {
    padding-top: 7px;
    font-size: 12px;
    padding-left: 38px;
  }
  .section2 .code .thirdLine, .section2 .code .fifthLine {
    padding-left: 38px;
    font-size: 12px;
    padding-top: 3px;
  }
  .section2 .code .fourthLine {
    padding-left: 53px;
    font-size: 12px;
    padding-top: 3px;
  }
  .section2 .code::after {
    width: 33%;
    height: 90px;
    transform: translate(125%, 137%);
    border-radius: 8px;
    border: 5px solid #FFF;
  }
  .section2 .text {
    text-align: center;
    width: 95vw;
    height: 25vh;
    align-items: center;
  }
  .section2 .text__heading {
    font-size: 1.8rem;
    width: 90vw;
    font-weight: 900;
  }
  .section2 .text__p {
    width: 81.5vw;
    font-size: 1rem;
    padding: 0;
    font-weight: 600;
  }
  .section3 {
    height: 70vh;
  }
  .section3 .text {
    text-align: center;
    height: 11vh;
  }
  .section3 .text__heading {
    font-size: 1.8rem;
    font-weight: 900;
  }
  .section3 .text__p {
    font-size: 1rem;
    width: 88vw;
    font-weight: 600;
  }
  .section3 .card {
    width: 90vw;
    height: 50vh;
    padding: 9px;
  }
  .section3 .card .code {
    height: 20vh;
  }
  .section3 .card .code .lineOne, .section3 .card .code .lineSecond {
    font-size: 14px;
    font-family: "ABeeZee", sans-serif;
  }
  .section3 .card .code .lineOne {
    padding-left: 13px;
    padding-top: 15px;
  }
  .section3 .card .code .lineSecond {
    padding-top: 9px;
    padding-left: 39px;
  }
  .section3 .card .code .author {
    height: 13vh;
    padding: 14px 11px;
    align-items: flex-end;
  }
  .section3 .card .code .author__wrapper {
    gap: 5px;
  }
  .section3 .card .code .author__wrapper svg {
    width: 26px;
    height: 26px;
  }
  .section3 .card .code .author__name {
    font-size: 1rem;
  }
  .section3::before {
    width: 65px;
    height: 63px;
    transform: scaleX(-1) translate(266%, -234%);
  }
  .section4 {
    height: 130vh;
    justify-content: center;
    padding-bottom: 60px;
  }
  .section4__heading {
    width: 90vw;
    font-size: 1.8rem;
    font-weight: 900;
  }
  .section4 .cards {
    grid-template-columns: 90vw;
    grid-template-rows: repeat(3, 31vh);
  }
  .section4 .cards > div {
    gap: 15px;
  }
  .section4 .cards > div .cardPartOne__heading {
    font-size: 1.6rem;
    font-weight: 900;
  }
  .section4 .cards > div .cardPartOne__span {
    font-size: 1rem;
  }
  .section4 .cards > div .cardPartTwo {
    font-size: 1.8rem;
    font-weight: 900;
  }
  .section4 .cards > div .cardPartThree > span {
    font-size: 1rem;
  }
  .section5 {
    height: 48vh;
    justify-content: flex-start;
  }
  .section5 .text__heading {
    font-size: 2rem;
    font-weight: 900;
    width: 90vw;
  }
  .section5 .text__heading::after {
    display: none;
  }
  .section5 .text__p {
    font-size: 1rem;
    width: 90vw;
    font-family: "K2D";
    font-weight: 600;
  }
  .section5 .wrapper {
    gap: 8px;
    height: 105px;
  }
  .section5 .wrapper__button {
    width: 90vw;
    border-radius: 8px;
    font-size: 1rem;
    gap: 8px;
    height: 45px;
  }
  .section5 .wrapper__button svg {
    width: 28px;
    height: 28px;
  }
}
@media screen and (min-width: 470px) {
  .section2::after {
    transform: translate(125%, 137%);
  }
}
@media screen and (min-width: 484px) {
  .section3 .text {
    height: 9.5vh;
  }
}
@media screen and (min-width: 490px) {
  .section2 .code::after {
    transform: translate(209%, 137%);
  }
}
@media screen and (min-width: 450px) {
  .header .section1 .wrapper__image {
    width: 82.5vw;
    height: 25vh;
  }
  .header .section1 .wrapper::after {
    transform: rotate(20deg) translate(73%, 158%);
  }
  .section3::before {
    transform: scaleX(-1) translate(273%, -230%);
  }
}
@media screen and (min-width: 470px) {
  .section2 .code::after {
    transform: translate(127%, 137%);
  }
}
@media screen and (min-width: 497px) {
  .header {
    height: 85vh;
  }
  .header .section1 .wrapper {
    height: 32vh;
  }
  .header .section1 .wrapper__image {
    width: 82.5vw;
    height: 26vh;
  }
  .header .section1 .wrapper::after {
    transform: rotate(20deg) translate(73%, 158%);
  }
  .section3 .card {
    padding: 10px;
  }
  .section3::before {
    transform: scaleX(-1) translate(317%, -230%);
  }
}
@media screen and (min-width: 530px) {
  .section2 .code::after {
    transform: translate(129%, 137%);
  }
  .section3::before {
    transform: scaleX(-1) translate(336%, -230%);
  }
}
@media screen and (min-width: 550px) {
  .header {
    height: 89vh;
  }
  .header .section1 .wrapper {
    height: 36vh;
  }
  .header .section1 .wrapper__image {
    width: 83.5vw;
    height: 29vh;
    rotate: -5deg;
  }
  .header .section1 .wrapper::after {
    transform: rotate(20deg) translate(73%, 190%);
  }
  .header .section1 .text::after {
    transform: translate(-9%, 218%) scale(1);
  }
  .section2 .code::after {
    transform: translate(130%, 137%);
  }
  .section3::before {
    transform: scaleX(-1) translate(350%, -230%);
  }
}
@media screen and (min-width: 580px) {
  .section2 .code::after {
    transform: translate(130.5%, 137%);
  }
  .section3::before {
    transform: scaleX(-1) translate(368%, -230%);
  }
}
@media screen and (min-width: 625px) {
  .header {
    height: 92vh;
  }
  .header .section1 .wrapper {
    height: 38vh;
  }
  .header .section1 .wrapper__image {
    width: 83.5vw;
    height: 31vh;
    rotate: -5deg;
  }
  .header .section1 .wrapper::after {
    width: 100px;
    height: 100px;
    transform: rotate(20deg) translate(69%, 185%);
  }
  .header .section1 .text::after {
    transform: translate(-23%, 230%) scale(1.1);
  }
  .section3::before {
    transform: scaleX(-1) translate(400%, -230%);
  }
  .section2 .code::after {
    transform: translate(131.5%, 137%);
  }
}
@media screen and (min-width: 650px) {
  .header {
    height: 93vh;
  }
  .header .section1 .wrapper {
    height: 40vh;
  }
  .header .section1 .wrapper__image {
    width: 83.5vw;
    height: 33vh;
    rotate: -5deg;
  }
  .header .section1 .wrapper::after {
    width: 100px;
    height: 100px;
    transform: rotate(20deg) translate(76%, 195%);
  }
  .header .section1 .text::after {
    transform: translate(-23%, 230%) scale(1.1);
  }
  .section2 .code::after {
    transform: translate(132.5%, 137%);
  }
  .section3::before {
    transform: scaleX(-1) translate(416%, -230%);
  }
}
@media screen and (min-width: 700px) {
  .header {
    height: 96vh;
  }
  .header .section1 .wrapper {
    height: 43vh;
  }
  .header .section1 .wrapper__image {
    width: 82vw;
    height: 36vh;
    rotate: -4deg;
    left: 23px;
  }
  .header .section1 .wrapper::after {
    width: 140px;
    height: 140px;
    transform: rotate(20deg) translate(62%, 135%);
  }
  .header .section1 .text::after {
    transform: translate(-45%, 230%) scale(1.2);
  }
  .section3::before {
    transform: scaleX(-1) translate(454%, -230%);
  }
  .section2 .code::after {
    transform: translate(133.5%, 137%);
  }
}
@media screen and (min-width: 708px) {
  .header {
    height: 96vh;
  }
  .header .section1 .wrapper {
    height: 43vh;
  }
  .header .section1 .wrapper__image {
    width: 82vw;
    height: 36vh;
    rotate: -4deg;
    left: 23px;
  }
  .header .section1 .wrapper::after {
    width: 140px;
    height: 140px;
    transform: rotate(20deg) translate(62%, 135%);
  }
  .header .section1 .text::after {
    transform: translate(-45%, 230%) scale(1.2);
  }
  .section3::before {
    transform: scaleX(-1) translate(457%, -230%);
  }
}
@media screen and (min-width: 750px) {
  .header {
    height: 98vh;
  }
  .header .section1 .wrapper {
    height: 45vh;
  }
  .header .section1 .wrapper__image {
    width: 81vw;
    height: 37.5vh;
    rotate: -4deg;
    left: 23px;
  }
  .header .section1 .wrapper::after {
    width: 140px;
    height: 140px;
    transform: rotate(20deg) translate(58%, 145%);
  }
  .header .section1 .text::after {
    transform: translate(-55%, 250%) scale(1.3);
  }
  .section2 .code::after {
    transform: translate(134.5%, 137%);
  }
  .section3::before {
    transform: scaleX(-1) translate(488%, -230%);
  }
}
@media screen and (min-width: 800px) {
  .header {
    height: 101vh;
  }
  .header .section1 .wrapper {
    height: 48vh;
  }
  .header .section1 .wrapper__image {
    width: 81vw;
    height: 40vh;
    rotate: -4deg;
    left: 23px;
  }
  .header .section1 .wrapper::after {
    width: 140px;
    height: 140px;
    transform: rotate(20deg) translate(58%, 165%);
  }
  .header .section1 .text::after {
    transform: translate(-68%, 250%) scale(1.5);
  }
  .section2 .code::after {
    transform: translate(135.5%, 137%);
  }
  .section3::before {
    transform: scaleX(-1) translate(520%, -230%);
  }
}
@media screen and (min-width: 834px) and (max-width: 1439px) {
  .header {
    height: 65.3vh;
    overflow: hidden;
    position: relative;
  }
  .header .navigation {
    width: 95vw;
    height: 70px;
    border-radius: 16px;
    top: 35px;
  }
  .header .navigation .wrapper__image {
    width: 36px;
    height: 35px;
  }
  .header .navigation .wrapper__span {
    font-size: 1.4rem;
  }
  .header .navigation .links__a--purple2 {
    color: #9D4CDC;
    font-size: 1.1rem;
  }
  .header .navigation .links__a svg {
    width: 24px;
    height: 24px;
  }
  .header .section1 {
    width: 100vw;
    height: 45vh;
    justify-content: center;
    border-bottom-right-radius: 40px;
    overflow: hidden;
  }
  .header .section1::before {
    transform: rotate(20deg) translate(18%, 5%);
    border-radius: 30px;
  }
  .header .section1 .text {
    width: 52vw;
    transform: translateY(-7%);
  }
  .header .section1 .text__heading {
    font-size: 2.6rem;
  }
  .header .section1 .text__p {
    font-size: 1.1rem;
    font-weight: 600;
  }
  .header .section1 .text .buttons {
    height: 9vh;
  }
  .header .section1 .text .buttons__button {
    border-radius: 14px;
  }
  .header .section1 .text .buttons__button svg {
    width: 28px;
    height: 28px;
  }
  .header .section1 .text::after {
    display: none;
  }
  .header .section1 .wrapper {
    width: 43vw;
    height: 40vh;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    overflow: visible;
  }
  .header .section1 .wrapper::after {
    display: none;
  }
  .header .section1 .wrapper__image {
    width: 40vw;
    height: 45vh;
    rotate: 20deg;
    border-radius: 23px;
    border-bottom-left-radius: 0;
    position: relative;
    left: 80px;
    bottom: 36px;
    border-radius: 40px;
    z-index: 1;
  }
  .header .section1::after {
    width: 14vw;
    height: 15vh;
    transform: translate(62%, 88%);
    z-index: 0;
  }
  .section2 {
    height: 35vh;
    gap: 50px;
    align-items: flex-start;
  }
  .section2 .code {
    width: 44.9vw;
    height: 32vh;
    border-radius: 14px;
    border: 6px solid #76558F;
  }
  .section2 .code::after {
    transform: translate(130%, 140%);
    width: 20vw;
    height: 116px;
    border-radius: 8px;
    border: 5px solid #FFF;
    border-radius: 12px;
  }
  .section2 .code .firstLine {
    font-size: 14px;
    padding-left: 18px;
    padding-top: 21px;
  }
  .section2 .code .secondLine {
    padding-top: 9px;
    font-size: 14px;
    padding-left: 40px;
  }
  .section2 .code .thirdLine, .section2 .code .fifthLine {
    padding-left: 40px;
    font-size: 14px;
    padding-top: 3px;
  }
  .section2 .code .fourthLine {
    padding-left: 57px;
    font-size: 14px;
    padding-top: 3px;
  }
  .section2 .code .author {
    align-items: flex-end;
    padding: 8px 11px;
  }
  .section2 .code .author__wrapper {
    gap: 5px;
  }
  .section2 .code .author__wrapper svg {
    width: 35px;
    height: 35px;
  }
  .section2 .code .author__name {
    font-size: 14px;
  }
  .section2 .text {
    text-align: left;
    width: 43.9vw;
    height: 25vh;
  }
  .section2 .text__heading {
    font-size: 2rem;
    font-weight: 900;
    text-align: left;
  }
  .section2 .text__p {
    font-size: 1.1rem;
    font-weight: 600;
    width: 43.4vw;
  }
  .section3 {
    height: 73vh;
    gap: 0;
  }
  .section3 .text {
    text-align: center;
    height: 13vh;
    gap: 10px;
  }
  .section3 .text__heading {
    font-size: 2rem;
    font-weight: 900;
  }
  .section3 .text__p {
    font-size: 1.1rem;
    font-weight: 600;
  }
  .section3 .card {
    width: 63vw;
    height: 40.4vh;
    border-radius: 14px;
    padding: 15px;
  }
  .section3 .card .code {
    height: 20vh;
    font-family: "ABeeZee", sans-serif;
  }
  .section3 .card .code .lineOne {
    padding-left: 14px;
    padding-top: 14px;
  }
  .section3 .card .code .lineOne, .section3 .card .code .lineSecond {
    font-size: 14px;
  }
  .section3 .card .code .lineSecond {
    padding-left: 48px;
    padding-top: 5px;
  }
  .section3 .card .code .author {
    height: 9vh;
    padding-bottom: 7px;
    padding-right: 15px;
    align-items: flex-end;
  }
  .section3 .card .code .author__wrapper {
    gap: 5px;
  }
  .section3 .card .code .author__wrapper svg {
    width: 24px;
    height: 24px;
  }
  .section3 .card .code .author__name {
    font-size: 0.9rem;
  }
  .section3 .card__image {
    border-radius: 12px;
  }
  .section3::before {
    width: 8vw;
    height: 8vh;
    background-position: center;
    transform: scaleX(-1) translate(424%, -171%);
  }
  .section4 {
    height: 63vh;
    gap: 35px;
  }
  .section4__heading {
    width: 45vw;
    font-size: 2rem;
    font-weight: 900;
    margin: 0;
  }
  .section4 .cards {
    grid-template-columns: repeat(3, 27.5vw);
    grid-template-rows: 38vh;
    column-gap: 25px;
  }
  .section4 .cards > div {
    gap: 15px;
  }
  .section4 .cards > div .cardPartOne__heading {
    font-size: 1.6rem;
    font-weight: 900;
    padding-bottom: 5px;
  }
  .section4 .cards > div .cardPartOne__span {
    font-size: 0.9rem;
  }
  .section4 .cards > div .cardPartTwo {
    font-size: 1.8rem;
    font-weight: 900;
  }
  .section4 .cards > div .cardPartThree > span {
    font-size: 1rem;
  }
  .section5 {
    height: 40vh;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
  }
  .section5 .text__heading {
    font-size: 2.4rem;
    font-weight: 900;
    width: 90vw;
  }
  .section5 .text__heading::after {
    display: none;
  }
  .section5 .text__p {
    font-size: 1.25rem;
    width: 89.6vw;
    font-weight: 600;
    line-height: 27px;
    font-family: "K2D", sans-serif;
  }
  .section5 .wrapper {
    gap: 35px;
    height: 15vh;
    align-items: flex-start;
  }
  .section5 .wrapper__button {
    height: 50px;
    padding: 12px 35px;
    border-radius: 16px;
    font-size: 1.25rem;
    gap: 8px;
  }
  .section5 .wrapper__button svg {
    width: 28px;
    height: 28px;
  }
}
@media screen and (min-width: 880px) {
  .section1 .wrapper__image {
    top: -34px;
  }
  .section1::after {
    margin-top: 5px;
  }
}
@media screen and (min-width: 905px) and (max-width: 1439px) {
  .section1 .wrapper__image {
    top: -32px;
    margin-left: 2px;
  }
  .section1::after {
    margin-top: 10px;
  }
  .section3 {
    height: 85vh;
  }
  .section3 .card {
    height: 50vh;
  }
  .section3 .card .code {
    height: 17vh;
  }
  .section3::before {
    transform: scaleX(-1) translate(422%, -232%);
  }
}
@media screen and (min-width: 945px) {
  .section1 .wrapper__image {
    top: -29px;
  }
  .section1::after {
    margin-top: 18px;
  }
  .section3::before {
    transform: scaleX(-1) translate(422%, -207%);
    height: 9vh;
  }
}
@media screen and (min-width: 990px) {
  .section1 .wrapper__image {
    margin-left: 2px;
    top: -26px;
  }
  .section1::after {
    margin-top: 25px;
  }
  .section3::before {
    transform: scaleX(-1) translate(422%, -205%);
  }
}
@media screen and (min-width: 1030px) {
  .section1 .wrapper__image {
    top: -23px;
  }
  .section1::after {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1080px) {
  .section1 .wrapper__image {
    position: relative;
    top: -19px;
    margin-left: 2px;
  }
  .section1::after {
    margin-top: 38px;
  }
  .section3::before {
    transform: scaleX(-1) translate(421%, -196%);
    height: 9.5vh;
  }
}
@media screen and (min-width: 1140px) {
  .section1 .wrapper__image {
    position: relative;
    top: -16px;
    margin-left: 3px;
  }
  .section1::after {
    margin-top: 46px;
  }
  .section3::before {
    transform: scaleX(-1) translate(421%, -211%);
    height: 10vh;
  }
  .section3 {
    height: 90vh;
  }
  .section3 .card {
    height: 55vh;
  }
}
@media screen and (min-width: 1190px) {
  .section1 .wrapper__image {
    position: relative;
    top: -13px;
    margin-left: 3px;
  }
  .section1::after {
    margin-top: 55px;
  }
}
@media screen and (min-width: 1218px) {
  .section3::before {
    transform: scaleX(-1) translate(421%, -194%);
    height: 11vh;
  }
}
@media screen and (min-width: 1235px) {
  .section1 .wrapper__image {
    position: relative;
    top: -10px;
    margin-left: 3px;
  }
  .section1::after {
    margin-top: 62px;
  }
}
@media screen and (min-width: 1290px) {
  .section1 .wrapper__image {
    position: relative;
    top: -7px;
    margin-left: 4px;
  }
  .section1::after {
    margin-top: 72px;
  }
}
@media screen and (min-width: 1330px) {
  .section1 .wrapper__image {
    position: relative;
    top: -4px;
    margin-left: 3px;
  }
  .section1::after {
    margin-top: 82px;
  }
  .section3::before {
    transform: scaleX(-1) translate(421%, -186%);
    height: 11.5vh;
  }
}
@media screen and (min-width: 1375px) {
  .section1 .wrapper__image {
    position: relative;
    top: -1px;
    margin-left: 3px;
  }
  .section1::after {
    margin-top: 88px;
  }
}
@media screen and (min-width: 1401px) {
  .section1 .wrapper__image {
    position: relative;
    top: 2px;
    margin-left: 4.5px;
  }
  .section3::before {
    transform: scaleX(-1) translate(421%, -175%);
    height: 12.2vh;
  }
}
@media screen and (min-width: 1420px) {
  .section1 .wrapper__image {
    position: relative;
    top: 2px;
    margin-left: 5px;
  }
  .section1::after {
    margin-top: 92px;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    height: 83vh;
    position: relative;
    overflow: hidden;
  }
  .header--background--background {
    background: linear-gradient(180deg, rgb(157, 76, 220), 32.32%, rgba(255, 255, 255, 0), 95.38%);
    backdrop-filter: blur(0px);
  }
  .header::after {
    content: "";
    position: absolute;
    width: 110px;
    height: 110px;
    border-radius: 30px;
    background-color: #BC70F8;
    transform: rotate(20deg) translate(-1%, 270%);
    right: 0;
    z-index: 1;
  }
  .header::before {
    content: "";
    position: absolute;
    width: 8.1vw;
    height: 112px;
    background-image: url("https://s3-alpha-sig.figma.com/img/b2d0/9fc8/345aee9f4d7176ee74adab491d95f1c1?Expires=1703462400&Signature=dSWEy8Pjnoq4hd7wMM2nCyPOSQSgnoZfOaJy8KIrF1IVtvyzBTl~CPOd5CMedJBv5rAUoAQfEYLL6JL5oUUHYTJUuSyH41RcvlaLJeK2-TUUBruWwSqMd4LA5N9Uunay7epERzbM6rpyMRYFyDNW8mxGnjqbVTXF6Jcgk6lSeRtwIFTBhsM9ChBAxhByRuZSKKf6rQjwo63sB7Xd6e-Hm~80w9BVZfx2~mPQPbauXc9MDBGjya4silbvbCq-qP0-qagQ7d5aeawwuA5Q4FrA45kJmwAMORSVaZqlm38C1klprBoscy8k6ctWEGb627Gam1hfTddPoYYfOzDy~LH4-g__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(533%, -86%);
    z-index: 1;
  }
  .header .navigation {
    width: 87vw;
    height: 86px;
    border-radius: 24px;
    top: 35px;
  }
  .header .navigation .wrapper__image {
    width: 43px;
    height: 42px;
  }
  .header .navigation .wrapper__span {
    font-size: 1.75rem;
  }
  .header .navigation .links__a {
    font-size: 1.25rem;
  }
  .header .navigation .links__a--purple2 {
    color: #9D4CDC;
  }
  .header .navigation .links__a svg {
    width: 28px;
    height: 28px;
  }
  .header .section1 {
    width: 95vw;
    height: 65vh;
    justify-content: center;
    border-bottom-right-radius: 40px;
    overflow: hidden;
  }
  .header .section1::before {
    transform: rotate(20deg) translate(-5%, 5%);
    border-radius: 30px;
  }
  .header .section1 .text {
    transform: translateY(-5%);
    width: 54vw;
  }
  .header .section1 .text__heading {
    font-size: 5.25rem;
  }
  .header .section1 .text__p {
    font-size: 1.3rem;
    font-weight: 600;
    width: 44vw;
  }
  .header .section1 .text .buttons {
    height: 13vh;
  }
  .header .section1 .text .buttons__button {
    font-size: 1.25rem;
  }
  .header .section1 .text .buttons__button svg {
    width: 34px;
    height: 34px;
  }
  .header .section1 .text::after {
    display: none;
  }
  .header .section1 .wrapper {
    width: 35vw;
    height: 62vh;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    overflow: visible;
    z-index: 0;
  }
  .header .section1 .wrapper::after {
    display: none;
  }
  .header .section1 .wrapper__image {
    width: 32vw;
    height: 60vh;
    rotate: 20deg;
    border-radius: 23px;
    border-bottom-left-radius: 0;
    position: relative;
    left: 15px;
    top: 35px;
    border-radius: 40px;
    z-index: 0;
  }
  .header .section1::after {
    width: 103px;
    height: 103px;
    transform: translate(-398%, -35%);
    z-index: -1;
  }
  .section2 {
    height: 72vh;
    gap: 131px;
    align-items: center;
  }
  .section2 .code {
    width: 34vw;
    height: 43vh;
    border-radius: 35px;
    border: 10px solid #76558F;
  }
  .section2 .code .author {
    align-items: flex-end;
    padding: 8px 11px;
  }
  .section2 .code .author__wrapper svg {
    width: 28px;
    height: 28px;
  }
  .section2 .code .author__name {
    font-size: 0.9rem;
  }
  .section2 .code .firstLine {
    font-size: 1.1rem;
    padding-left: 22px;
    padding-top: 27px;
  }
  .section2 .code .secondLine {
    font-size: 1.1rem;
    padding-left: 39px;
    padding-top: 12px;
  }
  .section2 .code .thirdLine, .section2 .code .fifthLine {
    font-size: 1.1rem;
    padding-left: 39px;
    padding-top: 8px;
  }
  .section2 .code .fourthLine {
    font-size: 1.1rem;
    padding-left: 65px;
    padding-top: 8px;
  }
  .section2 .code::after {
    width: 20vw;
    height: 180px;
    transform: translate(82%, 107%);
    border-radius: 22px;
    border: 8px solid #FFF;
  }
  .section2 .code .author {
    align-items: flex-end;
    padding-left: 22px;
    padding-bottom: 18px;
  }
  .section2 .code .author__wrapper {
    gap: 5px;
  }
  .section2 .code .author__wrapper svg {
    width: 35px;
    height: 35px;
  }
  .section2 .code .author__name {
    font-size: 1.1rem;
  }
  .section2 .text {
    text-align: left;
    width: 37vw;
    height: 42vh;
  }
  .section2 .text__heading {
    font-size: 3.4rem;
    font-weight: 900;
  }
  .section2 .text__p {
    font-size: 1.3rem;
    font-weight: 600;
  }
  .section3 {
    height: 100vh;
    gap: 39px;
  }
  .section3 .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .section3 .text__heading {
    font-size: 3rem;
  }
  .section3 .text__p {
    font-size: 1.3rem;
    font-weight: 600;
  }
  .section3 .card {
    width: 52vw;
    height: 55vh;
    border-radius: 22px;
    padding: 15px;
    gap: 10px;
  }
  .section3 .card .code {
    height: 16vh;
    font-family: "ABeeZee", sans-serif;
  }
  .section3 .card .code .lineOne {
    padding-top: 25px;
  }
  .section3 .card .code .lineSecond {
    padding-top: 6px;
    padding-left: 55px;
  }
  .section3 .card .code .author {
    height: 7vh;
    padding-top: 16px;
  }
  .section3 .card .code .author__name {
    font-size: 1.1rem;
  }
  .section3 .card__image {
    border-radius: 22px;
    border: 4px solid #835EA0;
  }
  .section3::before {
    width: 6.5vw;
    height: 11.5vh;
    transform: scaleX(-1) translate(375%, -226%);
  }
  .section4 {
    gap: 10px;
  }
  .section4 .cards > div .cardPartOne {
    text-align: center;
    gap: 10px;
  }
  .section4 .cards > div .cardPartOne__heading {
    font-weight: 900;
    font-size: 2.2rem;
  }
  .section4 .cards > div .cardPartOne__span--grey {
    font-size: 1.1rem;
    font-weight: 400;
  }
  .section4 .cards > div .cardPartTwo {
    font-size: 2.3rem;
    font-weight: 900;
  }
  .section4 .cards > div .cardPartThree {
    height: 25vh;
    gap: 10px;
  }
  .section4 .cards > div .cardPartThree__span--grey {
    font-size: 1.1rem;
  }
}